ion-list
    ion-item.item-icon-right(ng-click="show_approved_detail_sc(sc)" ng-repeat="sc in current_user.data.list_of_approved_sc | orderBy:'+created_date'")
        div {{sc.sc_number}}
        div {{sc.project_name}}
        div Approved {{to_moment(sc.fully_approved_date)}}
        div {{to_moment(sc.created_date)}}        
        i.icon.ion-chevron-right
