ion-header-bar.bar-positive
    button.button.icon.ion-navicon
    h1.title Monitoring SC
    button.button.icon.ion-plus

ion-tabs.tabs-icon-top.tabs-positive

  ion-tab(on-select="on_tab_new_selected()" title="New" icon-off="ion-ios-filing-outline" icon-on="ion-ios-filing")
    ion-nav-view(name="tab-new")
    ion-view(ui-view="tab_new_view")        
  

  ion-tab(on-select="on_tab_payment_status_selected()" title="Payment Status" icon-off="ion-ios-box-outline" icon-on="ion-ios-box")
    ion-nav-view(name="tab-payment-status")
    div(ui-view="tab_payment_status_view")

  ion-tab(title="Rejected" icon-off="ion-ios-analytics-outline" icon-on="ion-ios-analytics")
    ion-nav-view(name="tab-rejected")
